//
// Nav element
//
.mainnav {

    //
    // Bovenste laag navigatie
    //
    &__level0 {
        > li {
            position: relative;

            &:hover,
            &.hover {
                > a {

                }
            }

            > a {
                text-decoration: none;
            }
        }

        // Actief
        > .active > a {

        }
    }


    //
    // Sub navigatie laag 1
    //
    &__level1 {
        position: absolute;
    }
}